{% extends 'base.html.twig' %}

{% block title %}Auteur : {{ auteur.prenom }} {{ auteur.nom }}{% endblock %}

{% block body %}
    <h1>Nom : {{ auteur.nom }}</h1>
    <h3>Prénom : {{ auteur.prenom }}</h3>
{% endblock %}