{% extends 'base.html.twig' %}

{% block title %}Genre : {{ genre.nom }}{% endblock %}

{% block body %}
    <h1>Genre : {{ genre.nom }}</h1>
    <h3>Description : {{ genre.description }}</h3>
{% endblock %}